/* Main */
* {
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&display=swap');


font-size: large;
font-family: 'Darker Grotesque', sans-serif;

}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fc1a1a;
  display: block;
  align-items: center;
  justify-content: center;
  
  margin: auto;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
   height:10px;
  justify-items: center;
  margin: auto;
  margin-top: 30px;
  margin-left: 10px;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 20px;
}
.sub-main{
  display: flex;
  align-items: center;
  justify-content: center;
   height:10px;
  justify-items: center;
  margin: auto;
  flex-direction: row;
  gap: 20px;
}


/* Slider */

.slider {
    position: relative;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
    height: 100%;
    overflow: hidden;
  }
  .slider-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
    max-width: 400px;
  }
  .slider-item {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(165, 192, 13, 0.2);
    text-align: center;
  }
  :hover .slider-item {
    box-shadow: 0 8px 16px 0 rgba(107, 141, 29, 0.2);

  }
  .slider-controls {
    margin: 10px;
    position: absolute;
    top: 50%;
  
    bottom: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .slider-control {
    border: none;
    background-color: transparent;
    color: rgb(14, 182, 28);
    font-size: 24px;
    cursor: pointer;
  }
  .prev{
background: transparent;
border-radius: 999px;
border: solid 2px #000;
background:rgb(205, 205, 231);
 color: rgb(253, 27, 140);
  }
  .next{
    background: transparent;
border-radius: 999px;
border: solid 2px #000;
 color: white;
 background:rgb(205, 205, 231);

  }

  .img{
    width:15px;
    height:15px;

  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
  

  
  .slider-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .slider-item h3 {
    margin: 10px 0;
    font-size: 24px;
  }
  
  .slider-item p {
    margin: 0;
    color: gray;
    font-size: 18px;
  }
  @media (max-width: 767px) {
    .slider-item {
      flex: 0 0 50%;
    }
  }
  
  @media (max-width: 479px) {
    .slider-item {
      flex: 0 0 100%;
    }
  }
  /* Sidebar & content sections */

  .wrapper {
    display: flex;
    max-width: 960px;

    margin: auto;
    background-color: aquamarine;
    padding: 10px;
    margin-bottom: 30px;
    
  }
  
  .sidebar {
    width: 200px;
    background-color: rgb(50, 8, 150);
    padding: 20px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #content{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    height: 370px;
    overflow: auto;
    border: none;
}
  
  li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  .foot{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
  }